<% provide(:title, "Contact") %>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Contact Page</h1>
    <p>contact me at kylebrandontan@gmail.com</p>
  </body>
</html>
