<div class="center jumbotron">
  <h1>this is a Twitter clone.</h1>

  <h2>
    Hello friends, go ahead and try it out :D
  </h2>

  <%= link_to "Sign up plz", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<center><%= link_to image_tag("kt.jpg", alt: "my face", size: "320x214" ), 'http://kt.com' %></center>
