<footer class="footer">
  <small>
    The Ruby on Rails Tutorial by <a href="https://railstutorial.org">Michael Heartl</a>, and done by <a href="https://kyletan.com">Kyle Tan</a> hihi
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://news.railstutorial.org">News</a></li>
    </ul>
  </nav>
</footer>
